.bg-gray-signature {
    background-color: #E5E7EB;
}

.bg-yellow-primary {
    background-color: #FDC201;
}

.bg-yellow-primary:hover {
    background-color: #eeaa00;
}

.bg-red-primary {
    background-color: #aa0000;
}

.bg-red-primary:hover {
    background-color: #950101;
}

.alert {
    margin-bottom: 0;
}

/*Add this to fix the invalid feedback*/
.invalid-feedback {
    display: block !important;
}

.font-poppins {
    font-family: Poppins, serif;
}

@font-face {
    font-family: Poppins;
    src: url('/public/fonts/poppins/Poppins-Regular.ttf');
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

.overlay-icon {
    color: #000;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.text-center:hover .overlay-icon {
    opacity: 1;
}
