.bg-gray-signature {
    background-color: #E5E7EB;
}

.bg-yellow-primary {
    background-color: #FDC201;
}

.bg-yellow-primary:hover {
    background-color: #eeaa00;
}

/*Add this to fix the invalid feedback*/
.invalid-feedback {
    display: block !important;
}

.font-poppins {
    font-family: Poppins, serif;
}

@font-face {
    font-family: Poppins;
    src: url('/fonts/Poppins/Poppins-Regular.ttf');
}
